div#cen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box {
    width: 42%;
    box-shadow: 2px 2px 2px 2px;
    margin: 13px;
}
h3 {
    word-spacing: 4px;
    letter-spacing: 2px;
    color: #383434;
}
p{
    color: #434040;
}
#h3 {
    display: flex;
    justify-content: space-between;
}
button {
    color: yellow;
    font-weight: bolder;
    background: transparent;
    font-size: 21px;
    position: relative;
    top: 14px;
    right: 14px;
    height: 27px;
    width: 28px;
    border: 2px solid yellow;
    cursor: pointer;
}
#box2 {
    margin: 14px;
}
.box{
    display: none;
}
.box{
    display: none;
}
.box{
    display: none;
}
.add{
    display: block;
}
.blo{
    display: none;
}