.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  /* display: none; */
}
.inerpage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 5em;
  flex-direction: column;
}
.row_1-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.row_2-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.row_next_div {
  width: 100%;
  height: 100%;
}
.row_3-div {
  width: 69.5%;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 3px;

}




/* page 2 */



body{
    width: 98%;
    height: 100%;
 
}
.page2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    background-color: black;
}
.page2iner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.closebutton_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.inerpage2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
}
img#imagenext {
    width: 450px;
    height: 300px;
}
.closebutton_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close_button {
    font-size: xxx-large;
    border: none;
    background: transparent;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    cursor: pointer;
}
button {
    border: none;
    background: transparent;
    color: white;
    font-size: xxx-large;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}


.d-block{
    display: block;
}
.d-none{
    display:none ;
}
.none {
    display: none;
  }
  
  div#inerpage2_natuer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
img.page2_imge_size {
    width: 150px;
    height: 100px;
}
.page2inersub {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.pagesub {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    background-color: black;
}

.black{
    background-color: black;
}
.h-none{
  display: none;
}



.image-blur{

  opacity: 0.5;

}

.image-blur-2{
  opacity: 0.5;
}