body{
    background-color: aliceblue;
}
.img1 {
    width: 80px;
    height: 80px;
    background-color: deepskyblue;
    border-radius: 50px;
}
img {
    border-radius: 50px;
    height: 97%;
    width: 97%;
    top: 4px;
    right: 3px;
    position: relative;
}
#container {
    box-shadow: 3px 2px 2px 2px #e7e1e1;
    border-radius: 14px;
    height: 342px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 11px;
    text-align: center;
}
#cen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}
h3{
    margin: 6px;
      color: #2b2b4d;
}
h4{
    color:#0e627f;
    margin: 3px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: #2b2b4d;
}
hr{
    background-color:deepskyblue;
    position: relative;
    width: 21%;
    top: -21px;
}
p{
    color: #8c8c8c;
    margin: 26px;
    height: 82px;
}
#button {
    display: flex;
    position: relative;
    bottom: -33px;
}
button {
    cursor: pointer;
    color: deepskyblue;
    border: none;
    background-color: white;
    margin: 7px;
    font-size: 27px;
}
.col{
    color: rgb(128 212 239);
}