body {
    background-color: aliceblue;
}
div#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#cen {
    margin-top: 60px;
    display: flex;
    width: 63%;
    justify-content: space-around;
}
h3{
    font-family: 'Outfit', sans-serif;
    color: #121236de;
}
button{
    font-family: 'Outfit', sans-serif;
    color: #121236de;
}
#btn1 {
    /* background-color: white; */
    height: 50px;
    width: 148px;
    border: none;
    font-size: large;
    border-radius: 20px 0px 0px 0px;
}
h1{
    font-family: 'Outfit', sans-serif;
    color: #121236de; 
}
#btn2 {
    /* background-color: #e7e7e7; */
    height: 50px;
    width: 148px;
    border: none;
    font-size: large;
}
#btn3 {
    /* background-color: #e7e7e7; */
    height: 50px;
    width: 148px;
    border: none;
    font-size: large;
    border-radius: 0px 20px 0px 0px;
}
#im {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#fle {
    background-color: white;
    width: 445px;
    border: none;
    box-shadow: 2px 2px 6px 2px gray;
    border-radius: 21px;
    height: 287px;
}
div#his {
    margin: 12px;
}
.mas{
    text-align: center;
}
img {
    height: 287px;
    border-radius: 21px;
    position: relative;
    left: -27px;
    width: 401px;
    top: -4px;
}
p{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #9e9999;
}
.col:focus{
    background-color: white;
}
.col1{
    background-color: #e7e7e7;
}
/* .hover{
    pointer-events: none;
} */
button:hover{
    background-color: #bfbfbf;
}