body{
    transition: 0.6s;
}
.black{
    background-color: black;
    /* transition: 0.6s; */
}
.b2{
    background-color: rgb(255 106 128);
    color: black;
}
.p1{
    color: white;
}
h1{
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Varela Round', sans-serif; 
}
.head {
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    position: relative;
    left: 308px;
}
.second,.third,.fourth,.fifth {
    width: 48%;
}
h2 {
    margin: 0px;
    color: rgb(233,74,98);
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;

}
.date {
    margin: 0;
    font-style: italic;
    color: rgb(104 104 104);
}
button {
    transition: 0.3s;
    border: none;
    background-color: rgb(233,74,98);
    color: white;
    border-radius: 4px;
    height: 28px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1,1.1);
}
.para {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
#cal,#cal1,#cal2,#cal3 {
    font-size: 15px;
}